.profile-container{
    padding:40px;
}

h2{
    text-align:center;
}

.profile-card{
    width:350px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 12px rgba(0,0,0,0.15);
}

/* Avatar circle */
.avatar{
    width:70px;
    height:70px;
    background:#4CAF50;
    color:white;
    font-size:30px;
    font-weight:bold;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 20px auto;
}

.profile-card p{
    font-size:16px;
    margin:10px 0;
}